<div class="card">
  <div class="card-body">
    <form (submit)="submit(frm)" #frm="ngForm" *ngIf="account">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Tip</label>
            <select [(ngModel)]="account.type" class="form-control" name="accountType" #accountType="ngModel" required>
              <option value="bank-account">Cont bancar</option>
              <option value="paypal">Paypal</option>
            </select>
            <div *ngIf="accountType.errors && (accountType.dirty || accountType.touched || isSubmitted)">
              <p [hidden]="!accountType.errors.required" class="required-text">
                Introdu tip cont!
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="account.type === 'paypal'">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Cont Paypal (*)</label>
                <input type="text" name="paypalAccount" #paypalAccount="ngModel" class="form-control" required
                  placeholder="Introdu paypal cont" [(ngModel)]="account.paypalAccount" />
                <div *ngIf="paypalAccount.errors && (paypalAccount.dirty || paypalAccount.touched || isSubmitted)">
                  <p [hidden]="!paypalAccount.errors.required" class="required-text">
                    Introdu cont paypal!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="account.type === 'bank-account'">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Nume detinator (*)</label>
                <input type="text" name="accountHolderName" #accountHolderName="ngModel" class="form-control"
                  placeholder="Introdu nume detinator" [(ngModel)]="account.accountHolderName" required />
                <div *ngIf="accountHolderName.errors && (accountHolderName.dirty || accountHolderName.touched || isSubmitted)">
                  <p [hidden]="!accountHolderName.errors.required" class="required-text">
                    Introdu nume detinator!
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Numar cont (*)</label>
                <input type="text" name="accountNumber" #accountNumber="ngModel" class="form-control" placeholder="Introdu numar cont"
                  [(ngModel)]="account.accountNumber" required />
                <div *ngIf="accountNumber.errors && (accountNumber.dirty || accountNumber.touched || isSubmitted)">
                  <p [hidden]="!accountNumber.errors.required" class="required-text">
                    Introdu numar cont!
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Nume banca (*)</label>
                <input type="text" name="bankName" #bankName="ngModel" class="form-control" placeholder="Introdu nume banca"
                  [(ngModel)]="account.bankName" required />
                <div *ngIf="bankName.errors && (bankName.dirty || bankName.touched || isSubmitted)">
                  <p [hidden]="!bankName.errors.required" class="required-text">
                    Introdu nume banca!
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Adresa banca (*)</label>
                <input type="text" name="bankAddress" #bankAddress="ngModel" class="form-control" placeholder="Introdu adresa banca"
                  [(ngModel)]="account.bankAddress" required />
                <div *ngIf="bankAddress.errors && (bankAddress.dirty || bankAddress.touched || isSubmitted)">
                  <p [hidden]="!bankAddress.errors.required" class="required-text">
                    Introdu adresa banca!
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>IBAN</label>
                <input type="text" name="iban" #iban="ngModel" class="form-control" placeholder="Introdu IBAN"
                  [(ngModel)]="account.iban" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Cod SWIFT (8 sau 11 caractere)</label>
                <input type="text" name="swiftCode" #swiftCode="ngModel" [minlength]="8" [maxlength]="11" class="form-control"
                  placeholder="Introdu cod SWIFT" [(ngModel)]="account.swiftCode" />
                <div *ngIf="routingNumber.errors && (routingNumber.dirty || routingNumber.touched || isSubmitted)">
                  <p [hidden]="!routingNumber.errors.minlength" class="error" translate>
                    Codul SWIFT trebuie sa aive 8 sau 11 caractere
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Cod banca Marea Britanie (6 caractere)</label>
                <input type="text" name="sortCode" #sortCode="ngModel" [minlength]="6" [maxlength]="6" class="form-control"
                  placeholder="Introdu cod" [(ngModel)]="account.sortCode" />
                <div *ngIf="sortCode.errors && (sortCode.dirty || sortCode.touched || isSubmitted)">
                  <p [hidden]="!sortCode.errors.minlength" class="error" translate>
                    Cod banca Marea Britanie trebuise sa aive 6 caractere
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Numar asociatia bancherilor Americani  (9 caractere)</label>
                <input type="text" name="routingNumber" #routingNumber="ngModel" [minlength]="9" [maxlength]="9" class="form-control"
                  placeholder="Introdu numar" [(ngModel)]="account.routingNumber" />
                <div *ngIf="routingNumber.errors && (routingNumber.dirty || routingNumber.touched || isSubmitted)">
                  <p [hidden]="!routingNumber.errors.minlength" class="error" translate>
                    Numar asociatia bancherilor Americani trebuie sa aive 9 caractere
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Cod sistem financiar Indian (11 caractere)</label>
                <input type="text" name="ifscCode" #ifscCode="ngModel" [minlength]="11" [maxlength]="11" class="form-control"
                  placeholder="Introdu cod" [(ngModel)]="account.ifscCode" />
                <div *ngIf="ifscCode.errors && (ifscCode.dirty || ifscCode.touched || isSubmitted)">
                  <p [hidden]="!ifscCode.errors.minlength" class="error" translate>
                    Codul sistem financiar Indian trebuie sa aive 11 caractere
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Orice alta banca locala</label>
                <input type="text" name="routingCode" #routingCode="ngModel" class="form-control" placeholder="Introdu cod"
                  [(ngModel)]="account.routingCode" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <hr />
            <button type="submit" class="btn btn-primary">Trimite</button>
            &nbsp;
            <a class="btn btn-warning" [routerLink]="'/payout/account'" translate>Anuleaza</a>&nbsp;
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
